@using EPiServer.Framework.Web.Mvc.Html

@model IPageViewModel<SitePageData>

<!DOCTYPE html>
<html lang="@(Model.CurrentPage.Language)">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=10" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Model.CurrentPage.MetaTitle</title>
    @if (Model.CurrentPage.MetaKeywords != null && Model.CurrentPage.MetaKeywords.Count > 0)
    {
        <meta name="keywords" content="@string.Join(",", Model.CurrentPage.MetaKeywords)" />
    }
    @if (!string.IsNullOrWhiteSpace(Model.CurrentPage.MetaDescription))
    {
        <meta name="description" content="@Model.CurrentPage.MetaDescription" />
    }
    @Html.CanonicalLink()
    @Html.AlternateLinks()
    <link rel="stylesheet" href="~/css/tailwind.min.css" />
    <link rel="stylesheet" href="~/css/tailwind-styles.css" />
    <link rel="stylesheet" href="~/css/style.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Poppins:wght@700&display=swap" />
    <link rel="stylesheet" href="~/css/theme.min.css?v=1.0" />
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    <required-client-resources area="Header" />
</head>

<body>
    <div class="alloy-container grid grid-rows-[auto_1fr_auto]">
        @if (Model.Layout.IsInReadonlyMode)
        {
            await Html.RenderPartialAsync("Readonly", Model);
        }
        @await Html.RenderEPiServerQuickNavigatorAsync()
        @Html.FullRefreshPropertiesMetaData()
        @if (!Model.Layout.HideHeader)
        {
            await Html.RenderPartialAsync("Header", Model);
        }
        <main class="alloy-content p-4 flex flex-col gap-4">
            @RenderBody()
        </main>
        @if (!Model.Layout.HideFooter)
        {
            await Html.RenderPartialAsync("Footer", Model);
        }
        <required-client-resources area="Footer" />
    </div>
</body>
</html>
