@inherits AlloyDemo.Views.AlloyPageBase<PageViewModel<AlloyDemo.Models.Pages.StandardPage>>

@{ Layout = "~/Views/Shared/Layouts/_LeftNavigation.cshtml"; }

<section class="content">
    <h1 epi-property="@Model.CurrentPage.PageName">@Model.CurrentPage.PageName</h1>
    <p class="lead" epi-property="@Model.CurrentPage.MetaDescription">@Model.CurrentPage.MetaDescription</p>
    <div class="block w-full">
        <div epi-property="@Model.CurrentPage.MainBody" />
    </div>
</section>

<section class="flex flex-wrap" epi-property="@Model.CurrentPage.MainContentArea">
    <div epi-property-item class="block" epi-on-item-rendered="OnItemRendered" />
</section>
